@import url("reset.css");

.wrapper {
    min-height: 100%;
    overflow: clip;
}

.header {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 15px;
    color: #c0dfc2;
    background-color: #4b6154;
}

.header__container,
.footer__container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.footer {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #4b6154;
    color: #c0dfc2;
}