@import url("reset.css");
@import url("fonts.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.wrapper {
    min-height: 100%;
    overflow: clip;
}

.header {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding: 15px;
    color: #ABC0DF;
    background-color: #284D79;
}

.footer {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #231f8b;
    color: #ABC0DF;
}

[class*="__container"] {
    max-width: 1229px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Ecobazar */

.ecobazar {
    padding: 50px 0px;
}

.ecobazar__container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 75px;
}

.card-ecobazar {
    display: inline-block;
    border: 1px solid #E6E6E6;
    max-width: 264px;
    width: 100%;
    position: relative;
}

.card-ecobazar:hover {
    border: 1px solid #2C742F;
    box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.card-ecobazar__tip {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 16px;
    max-width: 40px;
}

.card-ecobazar:hover .card-ecobazar__tip {
    opacity: 1;
    visibility: visible;
}

.card-ecobazar__tip>* {
    margin-bottom: 6px;
}

.card-ecobazar__tip>*:last-child {
    margin-bottom: 0px;
}

.card-ecobazar__like,
.card-ecobazar__view {
    width: 40px;
    height: 40px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color: #FFF;
    padding: 10px;
}

.card-ecobazar__like:hover,
.card-ecobazar__view:hover {
    background: #00B207;
    border: 1px solid #00B207;
}

.card-ecobazar__image {
    max-width: 264px;
    width: 100%;
    padding: 5px;
}

.card-ecobazar__description {
    padding: 12px;
    position: relative;
    text-align: left;
}

.card-ecobazar__title {
    color: #4D4D4D;
    line-height: 1.5;
    margin-bottom: 6px;
    padding-right: 50px;
}

.card-ecobazar__title:hover {
    color: #2C742F;
}

.card-ecobazar__price {
    font-weight: 600;
    font-size: 18px;
    color: #1A1A1A;
}

.card-ecobazar__cart {
    width: 40px;
    height: 40px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    background-color: #F2F2F2;
    padding: 10px;
}

.card-ecobazar__cart--white {
    opacity: 0;
    visibility: hidden;
}

.card-ecobazar:hover .card-ecobazar__cart {
    background-color: #00B207;
    border: 1px solid #00B207;
}

.card-ecobazar:hover .card-ecobazar__cart--black {
    opacity: 0;
    visibility: hidden;
}

.card-ecobazar:hover .card-ecobazar__cart--white {
    opacity: 1;
    visibility: visible;
}

.card-ecobazar:hover .card-ecobazar__cart:hover {
    background-color: #2C742F;
    border: 1px solid #2C742F;
}

.card-ecobazar__cart {
    position: absolute;
    top: 23px;
    right: 16px;
}

/* Business */

.business {
    background-color: #5A54F2;
    font-size: 0;
    color: #FFF;
    font-family: "Roboto", serif;
    font-size: 18px;
    line-height: 1.6;
    position: relative;
    padding: 40px 0px;
}

.business::before,
.business::after {
    position: absolute;
    left: -5%;
    width: 110%;
    height: 55px;
    content: " ";
}

.business::before {
    top: 0;
    border-radius: 0% 0% 50% 50%/0% 0% 100% 100%;
    background-color: #fff;
}

.business:after {
    bottom: 0;
    border-radius: 50% 50% 0% 0%/100% 100% 0% 0%;
    background-color: #231f8b;
}

.technology {
    margin-bottom: 85px;
    position: relative;
}

.technology__image {
    max-width: 430px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
    position: relative;
}

.technology__image img {
    border-radius: 20px;
    box-shadow: -25px 20px 44px 0px rgba(84, 48, 209, 0.40);
    position: relative;
    z-index: 2;
}

.text-technology {
    display: inline-block;
    padding-top: 97px;
}

.text-technology__title,
.text-platform__title {
    max-width: 602px;
    width: 100%;
    font-family: "Circular Std", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 13px;
}

.text-platform__title {
    max-width: 506px;
}

.text-technology__text,
.text-platform__text {
    max-width: 480px;
    width: 100%;
    line-height: 1.66;
}

.text-technology__text p:not(:last-child),
.text-platform__text p:not(:last-child) {
    margin-bottom: 10px;
}

.text-technology__text:not(:last-child),
.text-platform__text:not(:last-child) {
    margin-bottom: 39px;
}

.text-technology__link,
.text-platform__link {
    font-weight: 500;
    border-radius: 60px;
    background: #F35B09;
    padding: 22px 26px;
}

.platform {
    margin-left: 250px;
    position: relative;
}

.text-platform {
    display: inline-block;
}

.platform__image {
    max-width: 430px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.platform__image img {
    border-radius: 20px;
    box-shadow: 22px 42px 44px 0px rgba(0, 0, 0, 0.30);
    position: relative;
    z-index: 2;
}

.text-technology__link:hover,
.text-platform__link:hover {
    background: #FFF;
    color: #F35B09;
}

.technology__image::before,
.platform__image::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 5px solid #FFBA49;
    z-index: 1;
}

.technology__image::before {
    left: -25.11%;
    bottom: -12%;
    width: 401px;
    height: 401px;
}

.technology__image::after {
    top: 25.04%;
    left: -29.76%;
}

.technology__image::after,
.platform__image::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 5px solid #FFBA49;
    width: 65px;
    height: 65px;
    z-index: 3;
}

.platform__image::before {
    top: -4.74%;
    right: -30%;
    width: 262px;
    height: 262px;
}

.platform__image::after {
    top: -8.759%;
    left: 21.395%;
}

.technology::before {
    content: '';
    position: absolute;
    background: url('../img/dots-left.svg') 0 0 no-repeat;
    width: 200px;
    height: 458px;
    top: 59.3%;
    left: -7.33%;
}

.platform::before {
    content: '';
    position: absolute;
    background: url('../img/dots-right.svg') 0 0 no-repeat;
    width: 458px;
    height: 200px;
    top: 34.671%;
    right: -18.54%;
}